<!DOCTYPE html>
<html>
  <head>
    <title>Client Profile</title>
    <style>
      h1 {
        font-size:80px;
        font-family: Roboto;
        font-weight:normal;
        color: rgb(0,153,153);
        text-align:center;
      }
      #banner {
        width:70%;
        height:360px;
        object-fit:cover;
      }
      .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

    #container{
      margin:auto;
      font-size:20px;
      font-style:Roboto;      
    }
      
    </style>
  </head>
  <body>
    <div id="container">
   <h1>Credit Client Profile</h1>
        <p>This renders a high-level view of the customer's profile. It includes directorship, accounts held by the customer and its directors, ORM status and a snapshot of the client's transactional behaviour.</p>
   <img src= "https://flask-tutorial--enell261.repl.co/static/banking.jpg" class='center'>
      <p>
        Please note that while the website is under construction, data availability will be limited, please reach out to Nkosenhle Dlamini (nkosenhle.dlamini@fnb.co.sz) for comments, suggestions and recommendations. 
      </p>
    </div>
  </body>
</html>
